@mixin max-height-width($height, $width) {
  max-height: $height;
  max-width: $width;
}

@mixin font-style($size, $weight, $lineHeight, $letterSpacing, $transform) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
  letter-spacing: $letterSpacing;
  text-transform:  $transform;
}

@mixin height-width($height, $width) {
  height: $height;
  width: $width;
}

@mixin position($pos, $top, $right, $bottom, $left) {
  position: $pos;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin flex($display, $justifyContent, $alignItems, $wrap) {
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}
