$primary-color: #F06C64;
$secondary-color: #2D303A;
$third-color: #F2F2F2;
$black-color: #161616;
$grey-color: #C7C7C7;

$secondary-text-color: #FFFFFF;

$border-color: #323746;
$border-color-slider: #EA676B;



