$primary-color: #F06C64;
$secondary-color: #2D303A;
$third-color: #F2F2F2;
$black-color: #161616;
$grey-color: #C7C7C7;
$grey-dark-color: #666D89;
$text-common-color-dark:  #767E9E;
$blue-bg: #648BF0;


$white-color: #FFFFFF;
$white-color-second: #DEDEDE;
$pink-color: #F0D8D9;

$border-color: #323746;
$border-color-slider: #EA676B;

$input-bg-color: #D6564F;
$input-text-color: #F48C8F;
$input-bg-btn: #FBC65F;
$input-bg-btn-hover: #e39600;
$input-color-btn: #886A30;





