.about-us-wrap {
  @extend %grey-bg;

  .note {
    @extend %note-style-grey-bg;
  }

  .about-us-title {
    color: $grey-dark-color;
  }

  .staff-list {
    @include flex(flex, center, flex-start, nowrap);
    margin: 0 -10px;
    padding-bottom: 15px;

    .employee {
      margin: 0 10px;
      width: calc(33% - 20px);

      .employee__info {
        @extend %list-info-grey-bg;
        padding-bottom: 20px;
      }

      h2 {
        padding: 17px 0 7px 0;
        color: $grey-dark-color;
      }

      .employee__social {
        @include flex(flex, flex-start, center, nowrap);
        margin: 0 -4px;
        padding-bottom: 70px;

        .employee__social_one {
          width: 32px;
          margin: 0 4px;
        }
      }
    }
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .about-us-wrap {
    .note {
      padding-bottom: 25px;
    }

    .staff-list {
      padding-bottom: 0;

      .employee {
        .employee__info {
          padding-bottom: 10px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .about-us-wrap {
    .note {
      padding-bottom: 15px;
    }

    .staff-list {
      @include flex(flex, center, flex-start, wrap);
      margin: -10px 0;
      padding-bottom: 15px;

      .employee {
        margin: 10px 0;
        width: 100%;

        .employee__info {
          padding-bottom: 10px;
        }

        h2 {
          padding: 10px 0 5px 0;
        }

        .employee__social {
          padding-bottom: 0;
        }
      }
    }
  }
}