.portfolio-wrap {
  background-color: $secondary-color;
  border: 6px solid $border-color;

  h1 {
    color: $grey-dark-color;
  }

  .note {
    color: $text-common-color-dark;
    padding-bottom: 20px;
  }

  .filter-list {
    margin: 0 -5px 18px;
  }

  .filter-list > div {
    display: inline-block;
    @include font-style(12px, normal, 12px, normal, none);
    color: $text-common-color-dark;
    padding: 5px 6px;
    border: 1px solid $text-common-color-dark;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;

    &:hover {
      color: $white-color-second;
      border-color: $white-color-second;
    }
  }

  .portfolio_img {
    @include flex(flex, center, center, wrap);
    margin: 0 -10px;
    padding-bottom: 75px;
  }

  .portfolio_img > div {
    margin: 10px;
    width: calc(25% - 20px);
  }
}

@media (min-width: 375px) and (max-width: 768px) {
  .portfolio-wrap {
    .portfolio_img > div {
      margin: 10px;
      width: calc(33% - 20px);
    }
  }
}

@media (max-width: 375px) {
  .portfolio-wrap {
    .portfolio_img {
      padding-bottom: 40px;
    }

    .portfolio_img > div {
      margin: 5px;
      width: calc(50% - 10px);
    }
  }
}