@import 'reset/reset';
@import 'helpers/variables';
@import 'helpers/placeholders';
@import 'helpers/mixins';

.appWrap {
  @extend %font-family;
}

.container{
  @include max-height-width(none, 960px);
  margin: 0 auto;
}

img{
  width: 100%;
}

.header-wrap {
  background-color: $secondary-color;
  color: $white-color;
  border-bottom: 6px solid $border-color;

  .header {
    @extend %flex-container;
    justify-content: space-between;

    .header_title {
      @include font-style(25px, bold, 30px, -0.03em, uppercase);
      padding: 29px 0 35px 0;

      span {
        color:$primary-color;
      }
    }

    .header_nav {
      @include font-style(12px, bold, 14px, -0.035em, uppercase);

      ul {
        padding-left: 0;

        li {
          display: inline-block;
          list-style: none;
          margin-right: 10px;

          &:before {
            content: "\00B7";
            margin-right: 11px;
          }

          &:last-child {
            margin-right: 0;
          }

          &:first-child {
            &:before {
              content: " ";
            }
          }

          a {
            text-decoration: none;
            color: $white-color;

            &:hover {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
}

.slider-wrap {
  background-color: $primary-color;
  border-bottom: 6px solid $border-color-slider;
  height: 600px;

  .slider {
    position: relative;
  }

  .arrow_left{
    @include height-width(27px, 16px);
    @include position(absolute, 283px, 0, 0, 0);
  }

  .arrow_right{
    @include height-width(27px, 16px);
    @include position(absolute, 283px, 0, 0, 98%);
  }

  .slider_content {
    margin: 0 72px;
    display: flex;
    position: relative;

    .phone{
      width: 240px;
      height: 600px;
      position: relative;
      right: -5px;

      .phone-vertical_shadow{
        @include height-width(483px, 240px);
        @include position(absolute, 54px, 0, 0, 0);
        z-index: 1;
      }

      .phone_body{
        @include height-width(458px, 216px);
        @include position(absolute, 54px, 0, 0, 0);
        z-index: 2;
      }

      .phone_camera{
        @include height-width(9px, 9px);
        @include position(absolute, 70.5px, 0, 0, 104px);
        z-index: 3;
      }

      .btn-home{
        background-color: $white-color;
        @include height-width(41.88px, 41.88px);
        border-radius: 50%;
        @include position(absolute, 461px, 0, 0, 87.06px);
        z-index: 3;

        .btn-home_inner{
          @include height-width(16.42px, 16.42px);
          border-radius: 20%;
          border: 3px solid #BABABA;
          margin: 13px auto;
        }
      }

      .phone_speaker{
        @include height-width(5px, 36px);
        @include position(absolute, 90px, 0, 0, 91px);
        z-index: 3;
      }

      .screen-black{
        @include height-width(333px, 191px);
        @include position(absolute, 119px, 0, 0, 13.5px);
        z-index: 3;
        background-color: $black-color;
        border: 3px solid $grey-color;
        border-radius: 2%;
      }

      .phone-horizontal_shadow {
        @include position(absolute, 29px, 0, 0, 0);
      }
    }

    .horizontal {
      transform: rotate(90deg);
      left: 23%;
    }
  }
}

.service-wrap {
  @extend %grey-bg;

  .service-title {
    color: $grey-dark-color;
  }

  .note {
    @extend %note-style-grey-bg;
  }

  .service-list {
    @extend %flex-container;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0 -10px;
    padding-bottom: 50px;

    .service-list_block {
      width: calc(33% - 20px);
      margin: 10px;
    }

    .service_info{
      @extend %list-info-grey-bg;
    }
  }

  .service-list > div {
    @extend %flex-container;
    align-items: flex-start;
    color: $grey-dark-color;
  }

  .service-img {
    padding-right: 20px;

    img {
      @include height-width(60px, 60px);
    }
  }
}

.portfolio-wrap {
  background-color: $secondary-color;
  border: 6px solid $border-color;

  h1 {
    color: $grey-dark-color;
  }

  .note {
    color: $text-common-color-dark;
    padding-bottom: 20px;
  }

  .filter-list {
    margin: 0 -5px 18px;
  }

  .filter-list > div {
    display: inline-block;
    @include font-style(12px, normal, 12px, normal, none);
    color: $text-common-color-dark;
    padding: 5px 6px;
    border: 1px solid $text-common-color-dark;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;

    &:hover {
      color: $white-color-second;
      border-color: $white-color-second;
    }
  }

  .portfolio_img {
    @extend %flex-container;
    margin: 0 -10px;
    flex-wrap: wrap;
    padding-bottom: 75px;
  }

  .portfolio_img > div {
    margin: 10px;
    width: calc(25% - 20px);
  }

}

.about-us-wrap {
  @extend %grey-bg;

  .note {
    @extend %note-style-grey-bg;
  }

  .about-us-title {
    color: $grey-dark-color;
  }

  .staff-list {
    @extend %flex-container;
    margin: 0 -10px;
    padding-bottom: 15px;
    align-items: flex-start;

    .employee {
      margin: 0 10px;
      width: calc(33% - 20px);

      .employee__info {
        @extend %list-info-grey-bg;
        padding-bottom: 20px;
      }

      h2 {
        padding: 17px 0 7px 0;
        color: $grey-dark-color;
      }

      .employee__social {
        @extend %flex-container;
        justify-content: flex-start;
        margin: 0 -4px;
        padding-bottom: 70px;

        .employee__social_one {
          width: 32px;
          margin: 0 4px;
        }
      }
    }



  }
}

h1 {
  @include font-style(30px, 900, 36px, normal, none);
  padding: 59px 0 18px 0;
}

p {
  @include font-style(18px, 300, 30px, normal, none);
}

h2 {
  @include font-style(18px, 900, 18px, normal, none);
  padding-bottom: 7px;
}

